/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Body */

body {
    background-color: rgb(196,160,107);
    height: 100%;
}

/* Content Block */

#content {
    display: flex;
    width: 1200px;
    justify-content: center;
    margin: 0 auto;
    padding: 20px 0;
    gap: 20px;
    align-items: flex-start;
}

/* Content Left */

#content-left {
    box-shadow: 5px 5px 3px black;
    padding: 20px;
    background-image: url("./static/Notepad.png");
    flex: 2;
}

#photo-name {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
    /* border-bottom: 1px solid black; */
    margin-bottom: 20px;
}

#photo-name img {
    height: 80px;
    border-radius: 50%;
    border: 2px solid black;
}

#photo-name p {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#about {
    text-align: center;
    padding-bottom: 20px;
    /* border-bottom: 1px solid black; */
    margin-bottom: 20px;
}

#nav-list {
    list-style: none;
    text-align: center;
    padding-bottom: 20px;
    /* border-bottom: solid 1px black; */
    margin-bottom: 20px;
}

#nav-list li {
    margin-bottom: 20px;
    font-size: 20px;
    text-decoration: underline;
}

#nav-list a {
    color: black;
}

#nav-list li:last-child {
    margin-bottom: 0;
}

#nav-list li:hover {
    font-weight: bold;
    cursor: pointer;
}

#contact {
    text-align: center;
}

#contact p {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

#contact-items li {
    list-style: none;
    margin-bottom: 20px;
    text-align: center;
}

#contact-items li:last-child {
    margin-bottom: 0;
}

/* Content Right */

#content-right {
    box-shadow: 5px 5px 3px black;
    width: 1000px;
    background-image: url("./static/LooseLeafPaper.png");
    flex: 6;
    padding: 30px 65px;
}

h1 {
    margin-bottom: 30px;
    text-align: center;
}

/* Projects */

#content-right .project:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 35px;
    margin-bottom: 35px;
    /* border-bottom: 1px solid black; */
}

.project-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 20px 10px;
}

.project-desc {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 24px;
}

.project-link {
    font-weight: bold;
    color: black;
}

.project img {
    border: 1px solid black;
}

/* Experience */

#content-right .job:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.job {
    margin-bottom: 35px;
    padding-bottom: 35px;
}

.job-name-date {
    display: flex;
    gap: 30px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.job-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.job-desc {
    margin-left: 20px;
    margin-bottom: 10px;
}

.job ul {
    margin-left: 40px;
}

.job ul li {
    margin-bottom: 10px;
}

.job ul li:last-child {
    margin-bottom: 0;
}

/* Education */

#content-right .edu:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.edu {
    margin-bottom: 35px;
    padding-bottom: 35px;
    /* border-bottom: 1px solid black; */
}

.name-logo {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 10px 0 20px 30px;
}

.name-logo img {
    height: 50px;
}

.name-logo p {
    font-size: 24px;
    font-weight: bold;
}

.edu-major {
    margin-bottom: 10px;
    font-size: 18px;
}

.edu-dates {
    margin-left: 30px;
    font-weight: bold;
}

/* Parkour */

.video {
    display: flex;
    justify-content: center;
}

/* Utilities */

